.body1{
background-image:url("hOye.gif");
background-position:center;
background-size:cover;
background-repeat:no-repeat;
}
#mycarousel{
background:linear-gradient(rgb(145, 169, 235),white,black,white,rgb(145, 169, 235));     
}
#mycarousel img{
height:300px;
width:350px;
margin-top:35px;
text-align:center;        
}
#mycarousel p{
font-size:25px
}


